// ==================================================================
// Ionicon icons
// ==================================================================
.icon
      width: 25px
      &::before
            font-size: 1.3rem
                  

// ==================================================================
// Dashboards
// ==================================================================
.dashboard
      &-sidebar
            width: 300px
            
      &-main
            width: 100%


// ==================================================================
// TinyMCE
// ==================================================================

// Hide alert box
.tox.tox-silver-sink.tox-tinymce-aux
      .tox-notifications-container
            display: none